<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eagle-Eye/Attack</title>
</head>
<body>
    <main>
        <header>
            <div class="Team">
                <h1>Eagle-Eye</h1>
            </div>
            <ul class="title">
              <li> <a href="index01.html">Home</a></li> 
              <li> <a href="index02.html">Address</a></li> 
                <li><a href="index03.html">Report</a></li>
                <li><a href="index04.html">Attack</a></li>
            </ul>
            <h1>Waiting for Disha's input</h1>


        </header>
    </main>
</body>
</html>